<!-- Page Content -->
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 id="title" class="page-header"></h1>
            </div>

            <!-- /.col-lg-12 -->
            <div class="col-lg-12">
                <p id="type" class = "paragraph"></p>
                <p id="category" class = "paragraph"></p>
                <p id="description" class = "paragraph"></p>
                <p id="deadline" class = "paragraph"></p>
            </div>
            <hr>
            <div class="col-lg-12">
              <p id="company" class = "paragraph"></p>
              <p id="country" class = "paragraph"></p>
              <p id="city" class = "paragraph"></p>
              <p id="posted_at" class = "paragraph"></p>
              <hr>
              <button type="button" id="apply-button" onclick="doApply();" class="btn btn-success hidden">Submit application</button>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
<script type="text/javascript">
  var id = localStorage.getItem('job_id');
  var token = AUtils.parse_jwt(localStorage.getItem("token"));

  function getJob(){
    if(token.r == "USER"){
      $("#apply-button").removeClass("hidden");
    }
      $.ajax({
       url: "api/jobs/"+id,
       type: "GET",
       beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem("token"));},
       success: function(data) {
         $("#title").html("" + data.title);
         $("#description").html("Job description: <br>" + data.description);
         $("#company").html("Company: " + data.company);
         $("#deadline").html(" Deadline to apply: " + data.deadline);
         $("#type").html("Type of job: " + data.type);
         $("#category").html("Category of job: " + data.category);
         $("#country").html("Country: " + data.country);
         $("#city").html("City: " + data.city);
         $("#posted_at").html("Job was posted at: " + data.posted_at);
         }
       });
  }



function doApply(){
  $("#apply-button").prop('disabled', true);
  var application = {
      job_id : id
  };
  $.ajax({
   url: "api/user/applications",
   type: "POST",
   data: application,
   beforeSend: function(xhr){xhr.setRequestHeader('Authorization', localStorage.getItem("token"));},
   success: function(data) {
     toastr.success("You have successfully applied for this job");
     $("#apply-button").prop('disabled',false);
     }
   }).fail(function(response) {
       toastr.error(response.responseJSON.message);
       $("#apply-button").prop('disabled',false);
   });
};
</script>
